<!DOCTYPE HTML>
<html>

<head>
    <title>Escodex</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <script type='text/javascript'>
        function sendrequest() {
            var hash = document.getElementById('ID').value;
            var type = document.getElementById('coinType').value;
            window.location.href = '/api/' + type + '/' + hash;
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="apple-touch-icon-precomposed" href=<%= url + '/images/favicon.png'%> />
    <link rel="stylesheet" href=<%= url+ "/css/bootstrap.min.css" %>>
    <link rel="stylesheet" href=<%= url+ "/css/ExplorerEscodex.css"%> type="text/css" />
    <script src=<%= url+ "/js/jquery.min.js"%></script>
    <script src=<%= url+ "/js/popper.min.js"%></script>
    <script src=<%= url+ "/js/bootstrap.min.js"%></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <style>
        table {
            width: 100%;
        }

        #example_filter {
            float: right;
        }

        #example_paginate {
            float: right;
        }

        label {
            display: inline-flex;
            margin-bottom: .5rem;
            margin-top: .5rem;

        }
    </style>
    <script>
        $(document).ready(function () {
            $('#example').DataTable(

                {

                    "aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                    "iDisplayLength": 5
                }
            );
        });


        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
    </script>
</head>

<body data-spy="scroll">
    <header>
        <div class="container">
            <div class="explorer_header">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xl-4 col-xs-12">
                        <div id="logo">
                            <a href=<%= url%>>
                                <img src=<%= url+ "/images/logo.png"%> alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xl-4 col-xs-12">
                        <h4>
                            <span style="color:#03ffd7;">Escodex</span> Explorer</h4>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xl-4 col-xs-12 text-right text-xs-center">
                        <ul class="social_top">
                            <li>
                                <a href="https://www.facebook.com/EscoDex-197738274287664/">
                                    <img src=<%= url+ "/images/facebook.png"%> alt="">
                                </a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com">
                                    <img src=<%= url+ "/images/twitter.png"%> alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://discord.gg/Sn4d2D">
                                    <img src=<%= url+ "/images/social3.png"%> alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://t.me/escodex">
                                    <img src=<%= url+ "/images/socail4.png"%> alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://redd.it/8cvcu9">
                                    <img src=<%= url+ "/images/reddit.png"%> alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://bitcointalk.org/index.php?topic=3336699.msg34898798#msg34898798">
                                    <img src=<%= url+ "/images/bitcoin.png"%> alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://medium.com/@emmajones_27838/welcome-to-escodex-5ed1779102c1">
                                    <img src=<%= url+ "/images/medium.png"%> alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="explorer">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-sm-12 col-xl-10 col-12 offset-md-1 pt-3 section-1">
                    <a href="https://google.com">
                        <img src=<%= url+ "/images/banner31_8.gif"%> class="pb-4" style="width:100%;" />
                    </a>
                    <%if (logo!=null) { %>
                        <div class="row">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-xl-5">
                                <div class="card text-center">
                                    <div class="card-header  bg-info text-white">Difficulty</div>
                                    <div class="card-body">
                                        <p class="m-0">
                                            <%= data.difficulty %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2 col-sm-2 col-xl-2 text-center">
                                <img src=<%= url+ '/images/' + logo + '.png'%> style="width:84%;" />
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-5 col-xl-5 text-right ">
                                <div class="card text-center">
                                    <div class="card-header  bg-info text-white">Coin Supply (ESCO)</div>
                                    <div class="card-body">
                                        <p class="m-0">
                                            <%= data.blockcount %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 pt-4"></div>
                            <div class="input-group" id="adv-search">
                                <input type="text" class="form-control" id="ID" placeholder="Enter tx hash or Address" />

                                <div class="input-group-btn">
                                    <div class="btn-group" role="group">
                                        <button type="button" onclick="sendrequest()" class="btn btn-primary ">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pt-4">
                            <select class="form-control" id="coinType">
                                <% for(var i=0; i < cur.length; i++) { %>
                                    <option value="<%= cur[i].name %>">
                                        <%= cur[i].name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>

                </div>
                <% } %>
            </div>
        </div>
        <%if (error!=null) { %>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12  pb-5">
                    <div class="card-header bg-secondary text-white">Error
                        <h2>
                            <%= error %>
                        </h2>
                    </div>
                </div>
            </div>
            <% } %>
                <%if (message!=null) { %>
                    <div class="container">
                        <div class="row">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Hash</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < message.last_txs.length; i++) { %>
                                        <tr>
                                            <td>
                                                <a href="<%= url + '/' + logo + '/' + message.last_txs[i].addresses %>">
                                                    <%= message.last_txs[i].addresses %>
                                                </a>

                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } %>
    </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-4 col-xl-3 ">
                    <div class="copy-right">&copy; EscoDex 2018</div>
                </div>
                <div class="col-md-9 col-lg-9 col-sm-8 col-xl-9">
                    <div class="contact-us">
                        <b style="color:#03ffd7;">Contact us at:</b> &nbsp
                        <a href="mailto:emma@escodex.com">
                            <i class="fa  fa-envelope"></i> emma@escodex.com,</a>
                        <a href="mailto:charlie@escodex.com"> charlie@escodex.com</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>